@model RewardViewModel

<div class="container m-md-5 mt-5">
    @if(Model.CurrentUser.RewardPlayChanceCount > 0) { 
    <a class="btn btn-dark mb-5">
        @Model.CurrentUser.RewardPlayChanceCount
        <i class="fas fa-ticket-alt"></i>
        &nbsp; Get Rewards
    </a>
    }
    <div id="myRewardContent">
        <partial name="_RewardTableModelPartial" model="Model.Rewards" />
    </div>
</div>
