@model HomeSquareApp.Models.Order

@if (Model.OrderStatus != "Preparing" && Model.OrderStatus != "Completed")
{
    <button onclick="updateOrderStatus('@Model.OrderID','Preparing')" class="rounded-0 btn btn-outline-dark border-secondary">
        Set to Preparing
    </button>
}
@if (Model.OrderStatus != "Ready")
{
    <button onclick="updateOrderStatus('@Model.OrderID','Ready')" class="rounded-0 btn btn-outline-dark border-secondary">
        Set to Ready
    </button>
}
@if (Model.OrderStatus == "Ready")
{
    <button onclick="updateOrderStatus('@Model.OrderID','Completed')" class=" rounded-0 btn btn-outline-dark border-secondary">
        Set to Completed
    </button>
}