@model HomeSquareApp.ViewModels.ChangePasswordViewModel

<form asp-controller="Account" asp-action="ChangePassword"
      method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="changePasswordNotification"
      data-ajax-url="/Account/ChangePassword" id="changePasswordForm">
    <div id="errorChangePasswordSummary" class="text-danger" ></div>
    <div class="d-md-flex align-items-center mt-4">
        <label asp-for="CurrentPassword" class="col-md-3 mb-2 mb-md-0"></label>
        <input asp-for="CurrentPassword" class="form-control pe-2 w-md-50" />
    </div>
    <span class="text-danger small" asp-validation-for="CurrentPassword"></span>
    <div class="d-md-flex align-items-center mt-2">
        <label asp-for="NewPassword" class="col-md-3 mb-2 mb-md-0"></label>
        <input asp-for="NewPassword" class="form-control pe-2 w-md-50" />
    </div>
    <span class="text-danger small" asp-validation-for="NewPassword"></span>
    <div class="d-md-flex align-items-center mt-2">
        <label asp-for="ConfirmNewPassword" class="col-md-3 mb-2 mb-md-0"></label>
        <input asp-for="ConfirmNewPassword" class="form-control pe-2 w-md-50" />
    </div>
    <span class="text-danger small" asp-validation-for="ConfirmNewPassword"></span>
    <div>
        <button type="submit" class="offset-md-3 btn btn-dark rounded-0 mt-3">Change Password</button>
    </div>
</form>

