@model HomeSquareApp.ViewModels.OrderViewModel

<form asp-controller="Checkout" asp-action="SubmitOrder"
      method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Checkout/SubmitOrder"
      name="checkoutForm" class="bg-white py-5 px-3 px-md-5 checkOut-Card" id="checkoutForm"
      data-ajax-loading="#checkoutLoader" data-ajax-complete="checkoutReturned">
    <small id="errorCheckoutSummary" class="text-danger mb-3"></small>
    <div id="checkoutLoader" class="spinner-border text-secondary position-fixed top-50 start-50" style="z-index:1;display:none" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <span id="progressBarCheckoutPrompt">1/2</span>
    <input type="hidden" asp-for="OrderID" />
    <div class="progress mb-3" style="height: 1px;">
        <div id="progressCheckout" class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    @* Delivery Options Start *@
    <div class="step step-1 active">

        <h2 class="fw-bold">Select Delivery Options</h2>
        <div class="d-md-flex gap-md-2 mt-5">
            <div class="radio-Card col-md-6">
                <input id="delivery" onchange="updateDeliveryAddress(this)" name="deliveryOptions" asp-for="DeliveryOptions" value="Delivery" type="radio" checked>
                <label for="deliveryOptions" class=" h-100 d-flex flex-column ">
                    <span class="mx-4 mt-4 radio-Card-Header">Delivery</span>
                    <span class="mt-3 mx-4">We will deliver the items to your door</span>
                </label>
            </div>
            <div class="radio-Card col-md-6 mt-md-0 mt-2">
                <input id="pickup" onchange="updateDeliveryAddress(this)" name="deliveryOptions" asp-for="DeliveryOptions" value="Pickup" type="radio">
                <label for="deliveryOptions" class=" h-100 d-flex flex-column ">
                    <span class="mx-4 mt-4 radio-Card-Header">Pickup</span>
                    <span class="mt-3 mx-4">Pick up your items on our store</span>
                </label>
            </div>
        </div>

        <h2 class="fw-bold mt-5">Your Details</h2>
        <div class="d-md-flex mt-3">
            <div class="mb-3 pe-md-1 col-md-6">
                <label asp-for="FirstName" class="form-label required"></label>
                <input asp-for="FirstName" onkeypress="limitLength(this,63)" type="text" class="bg-light rounded-pill form-control" aria-describedby="firstName">
                <span class="validateDetails small text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="mb-3 ps-md-1 col-md-6">
                <label asp-for="LastName" class="form-label required"></label>
                <input asp-for="LastName" type="text" onkeypress="limitLength(this,63)" class="bg-light rounded-pill form-control" aria-describedby="lastName">
                <span class="validateDetails small text-danger" asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="DeliveryEmail" class="form-label required"></label>
            <input asp-for="DeliveryEmail" onkeypress="limitLength(this,63)" type="email" placeholder="example@@hotmail.com" class="bg-light rounded-pill form-control" aria-describedby="email">
            <span class="validateDetails small text-danger" asp-validation-for="DeliveryEmail"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label required"></label>
            <input asp-for="PhoneNumber" onkeypress="limitLength(this,22)" type="tel" placeholder="+6427272990" class="bg-light rounded-pill form-control" aria-describedby="phoneNumber">
            <span class="validateDetails small text-danger" asp-validation-for="PhoneNumber"></span>
        </div>

        @* Show this if "Delivery" is selected *@
        <div id="DeliveryInfo">
            <h2 class="fw-bold mt-5">Delivery Information</h2>
            <div class="mb-3">
                <label asp-for="DeliveryAddress" class="form-label required"></label>
                <input asp-for="DeliveryAddress" onkeypress="limitLength(this,63)" type="text" class="bg-light rounded-pill form-control" aria-describedby="address">
                <span class="validateDetails small text-danger" asp-validation-for="DeliveryAddress"></span>
            </div>
            <div class="d-md-flex mt-3">
                <div class="mb-3 col-lg-6 col-md-6">
                    <label asp-for="Suburb" class="form-label">Suburb</label>
                    <input asp-for="Suburb" onkeypress="limitLength(this,31)" type="text" class="bg-light rounded-pill form-control" aria-describedby="suburb">
                    <span class="validateDetails small text-danger" asp-validation-for="Suburb"></span>
                </div>

                <div class="mb-3 px-md-2 col-lg-3 col-md-4 col-6">
                    <label asp-for="ZipCode" class="form-label">ZipCode</label>
                    <input asp-for="ZipCode" onkeypress="limitLength(this,7)" type="number" placeholder="0000" class="noshow bg-light rounded-pill form-control" aria-describedby="zipCode">
                    <span class="validateDetails small text-danger" asp-validation-for="ZipCode"></span>
                </div>
                <div class="mb-3 col-lg-3 col-md-2 col-6">
                    <label asp-for="Unit" class="form-label">Unit #</label>
                    <input asp-for="Unit" onkeypress="limitLength(this,7)" type="text" placeholder="000" class="bg-light rounded-pill form-control" aria-describedby="unitNumber">
                    <span class="validateDetails small text-danger" asp-validation-for="Unit"></span>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button id="orderNextBtn" type="button" class="btn btn-success float-end w-25 next-btn">Next</button>
        </div>
    </div>
    @* Delivery Options End *@

    @* Card Information Start *@
    <div class="step step-2">
        <h2 class="fw-bold">Payment</h2>
        <label for="fname">Accepted Cards</label>
        <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
        </div>

        <div class="mt-4 mb-3">
            <label asp-for="NameOnCard" class="form-label required"></label>
            <input asp-for="NameOnCard" onkeypress="limitLength(this,63)" type="text" class="bg-light rounded-pill form-control" aria-describedby="cardName">
            <span class="small text-danger" asp-validation-for="NameOnCard"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CreditCardNumber" class="form-label required">Credit card number</label>
            <input asp-for="CreditCardNumber" type="text" name="creditCardNumber" placeholder="1111-2222-3333-4444" class="bg-light rounded-pill form-control" aria-describedby="creditCardNumber">
            <span class="small text-danger" asp-validation-for="CreditCardNumber"></span>
        </div>
        <div class="mb-3">
            <div class="d-flex">
                <div class="flex-fill">
                    <label for="inputExpiryDate" class="form-label required">Expiry Date</label>

                    <div class="d-flex gap-2">
                        <input asp-for="ExpiryMonth" type="number" style="width:60px" onkeypress="limitLength(this,1)" placeholder="MM" class="noshow bg-light rounded-3 form-control" aria-describedby="expiryMonth">
                        <span style="font-size:22px">/</span>
                        <input asp-for="ExpiryYear" type="number" style="width:60px" onkeypress="limitLength(this,1)" placeholder="YY" class="noshow bg-light rounded-3 form-control" aria-describedby="expiryYear">
                    </div>
                </div>
                <div class="align-self-end">
                    <label asp-for="CVV" class="form-label required"></label>
                    <input asp-for="CVV" type="number" style="width:60px" name="CVV" onkeypress="limitLength(this,2)" placeholder="000" class="noshow bg-light rounded-3 form-control" aria-describedby="CVV">
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button type="button" class="btn btn-light float-start w-25 prev-btn border-secondary">Prev</button>
            @* NYD FAKE CHECKING *@
            <button type="submit" :class="(cartItemCount <1?'disabled':'')+ ' btn btn-dark float-end'">Submit Order</button>
        </div>
    </div>
    @* Card Information End *@
</form>

