@model HomeSquareApp.ViewModels.IngredientViewModel

<div class="d-flex my-3">
    <div class="form-floating col-4">
        <input asp-for="ServingContent" type="text" class="form-control" placeholder="0">
        <label>Amount</label>
    </div>
    <div class="form-floating flex-fill">
        <input asp-for="IngredientName" type="text" class="form-control" onkeyup="app.triggerSearchQuery(this)">
        <label>Ingredient Name</label>
    </div>
</div>