

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="login-wrap overflow-auto pb-5">
                <div id="modalLoader" class="spinner-border text-secondary position-fixed top-50 start-50" style="z-index:1;display:none" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="login-html" id="loginSignUpPanel">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="cursor:pointer">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" style="cursor:pointer">Sign Up</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            @* SignIn AREA *@
                            @* ---------------------------------------------- *@
                            <partial name="_UserFormLoginPartial" />

                            <div class="foot-lnk">
                                <a onclick="togglePanel()">Forgot Password?</a>
                            </div>
                        </div>
                        @* SignUp / Register AREA *@
                        @* ---------------------------------------------- *@
                        <div class="sign-up-htm">
                            <span id="progressBarPrompt">1/2</span>
                            <div class="progress mb-3" style="height: 1px;">
                                <div id="progressBarLogin" class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div id="panel"></div>
                            @*  asp-controller="Account" asp-action="Register"*@
                            <partial name="_UserFormRegisterPartial" />
                        </div>
                    </div>
                </div>
                <div class="login-html animationToggleVisible" id="passwordPanel" hidden>
                    <div class="login-form">
                        <partial name="_UserFormForgotPasswordPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



