
<div class="modal fade m-0 rounded-0" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog m-0 modal-fullscreen-md-down gx-0 w-md-50" style="position:absolute;right:0;">
        <div class="modal-content rounded-0">
            <div class="modal-header sticky-top bg-white" style="height:10vh;">
                <h3 class="mb-0 fw-bold">My Cart</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="bg-light" style="height: 70vh;overflow-y:scroll;">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="card shadow-none rounded-0 m-2">
                        <div class="row g-0">
                            <button class="btn col-1 btn-danger">
                                X
                            </button>
                            <div class="ps-3 col-2 d-flex align-items-center">
                                <img class="img-fluid" src="~/lib/images/products/butter.png" />
                            </div>
                            <div class="p-3 col-9">
                                <div class="mx-3">
                                    <span class="fw-bold">The name of the item can get quite long</span>
                                    <div class="input-group my-3 my-md-0">
                                        <div class="number-input">
                                            <button class="btn btn bg-success btn-sm" style="border-right:0; border-top-left-radius:12.5rem;border-bottom-left-radius:12.5rem" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <svg class="bi text-white" width="16" height="24">
                                                    <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#dash" />
                                                </svg>
                                            </button>
                                            <input class="quantity" min="1" name="quantity" value="1" type="number">
                                            <button class="btn btn bg-success btn-sm" style="border-left: 0; border-top-right-radius: 12.5rem; border-bottom-right-radius: 12.5rem" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">
                                                <svg class="bi text-white" width="16" height="24">
                                                    <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#plus" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex p-3 justify-content-between bg-dark align-items-center" style="height:19.759999vh">
                <div class="d-flex flex-column text-light">
                    <h4 class="m-0 fw-bold text-center">Total</h4>
                    <div style="font-family:Arial, Helvetica, sans-serif; font-size:24px">
                        <span style="font-size:24px">$</span> 100 <sup>00</sup>
                    </div>
                </div>
                <div class="d-flex flex-fill justify-content-end">
                    <button class="btn col-10 btn-success text-light rounded-pill">Check Out</button>
                </div>
            </div>
        </div>
    </div>
</div>