@model IEnumerable<HomeSquareApp.Models.Product>

@foreach (Product product in Model)
{
    <div class="col d-flex align-items-stretch justify-content-center">
        <partial name="_ProductCardLongStripPartial" model="product" />
    </div>
}