

@* product start *@
<div class="card" style="min-height:420px;">
    <div class="px-3 align-items-center d-flex justify-content-center position-relative" style="min-height:200px;">
        <img class="img-fluid" src="~/lib/images/products/butter.png" asp-append-version="true" style="object-fit:cover"/>
        <div class="position-absolute bottom-0 start-0 ms-2">
            <span style="font-size:12px;" class="fa fa-star checked"></span>
            <span style="font-size:12px;" class="fa fa-star checked"></span>
            <span style="font-size:12px;" class="fa fa-star checked"></span>
            <span style="font-size:12px;" class="fa fa-star checked"></span>
            <span style="font-size:12px;" class="fa fa-star"></span>
        </div>
    </div>
    <div class="badge rounded-0 rounded-end" style="position:absolute;left:-1px;top:0;">Special</div>
    <div class="product-details pt-1">
        <a href="#" class="product-link">No one has ever produced such good quality butter</a>
        <div class="d-flex align-items-center mt-3">
            <div>
                @* Do price after discount, Split price and store it in different variable and do a razor field for whole number and decimal *@
                <span class="product-price">$</span><span class="product-price">100</span><sup class="product-price-decimal">50</sup>
                @* Price before discount *@
                <p>Was <span class="product-price-before-special">$125.00</span></p>
            </div>
            <div class="ms-auto">
                @* Price per unit *@
                <span class="fw-normal">$14.00 / Ea.</span>
            </div>
        </div>  
    </div>
    <a asp-controller="Product" asp-action="Details" asp-route-id="1" class="btn btn-success rounded-0 product-bottom-left-btn">Details</a>
    <button class="btn btn-outline-light text-dark rounded-0 product-bottom-right-btn">Add To Cart</button>
</div>
@* product end *@