@model string

@* product start *@
<div class="card p-3 d-flex flex-column justify-content-between">
    <a class="link-dark" asp-controller="Product" asp-action="Details" asp-route-id="1">
        <div class="p-3 align-items-center d-flex justify-content-center position-relative">
            <img src="/lib/images/products/Shampoo-PNG-Clipart.png" class="img-fluid" style="object-fit: cover;" asp-append-version="true">
            <div class="position-absolute bottom-0 start-0 ms-2">
                <span class="fa fa-star checked" style="font-size: 12px;"></span>
                <span class="fa fa-star checked" style="font-size: 12px;"></span>
                <span class="fa fa-star checked" style="font-size: 12px;"></span>
                <span class="fa fa-star checked" style="font-size: 12px;"></span>
                <span class="fa fa-star" style="font-size: 12px;"></span>
            </div>
        </div>
        <div class="alert alert-success p-0 px-2 rounded-0" style="position: absolute; left: -1px; top: 0px;">
            <small class="alert-link">10% OFF</small>
        </div>
    </a>
    <div class="text-start text-sm-center product-details pt-1">
        <a asp-controller="Product" asp-action="Details" asp-route-id="1" style="font-size:16px" class="text-success product-link">@Model</a>
        <div class="d-md-flex align-items-center mt-3 mt-md-0 mt-lg-3">
            <div>
                <span class="product-price">$</span><span class="product-price">100</span><sup class="product-price-decimal">50</sup>
                <p>
                    Was <span class="product-price-before-special">$125.00</span>
                </p>
            </div>
            <div class="ms-auto d-none d-md-block">
                <span class="fw-normal">$14.00 / Ea.</span>
            </div>
        </div>
    </div>

    <div class="mt-md-3 d-md-flex align-items-center text-center">
        <label class="text-muted" style="font-size:14px;">QTY</label>
        @*<input placeholder="1" min="1" max="100" type="number" class="custom-spinner mx-2 rounded-3 w-25" />*@
        <input type="number" placeholder="1" min="1" max="100" value="1" class="mx-2 w-25"/>
        <button type="submit" class="ms-auto mt-3 mt-md-0 btn btn-success rounded-pill float-md-end">Add To Cart</button>
    </div>
</div>
@* product end *@