@* Card Start *@
<div class="card m-md-3 m-1 border-0" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
    <div class="card-header" style="height:240px; background: url(lib/images/waffle.jpg) no-repeat center;background-size: cover;">
    </div>
    <div class="m-2">
        <div class="d-flex justify-content-between">
            <small class="text-secondary">Breakfast | Lunch</small>
            <span>
                <small class="text-muted align-items-center">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#hand-thumbs-up" />
                    </svg>
                    2
                </small>
            </span>
        </div>
        <p class="cardRecipe-title">Waffle with maple syrup </p>
        <p>lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.lorem ipsum dolor amet sit.</p>
        <div class="mb-3 d-flex justify-content-md-start justify-content-between">
            <div class="col-md-3">
                <span class="small fw-bold text-secondary">Cook & Prep Time</span><br />
                <small class="text-muted align-items-center">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#clock" />
                    </svg>
                    10 mins
                </small>
            </div>
            <div class="col-md-3">
                <span class="small fw-bold text-secondary">Servings</span><br />
                <small class="text-muted align-items-center">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#egg-fried" />
                    </svg>
                    2
                </small>
            </div>
        </div>
        <a href="#" class="btn btn-danger text-white form-control">Go to Recipe</a>
    </div>
</div>
@* CardEnd *@