@model Product


    <div class="d-flex flex-column align-items-center gap-2">
        @if(Model != null) { 
            <h2>You Received: </h2>
            <div class="card d-flex p-2 px-4">
                <div class="d-flex align-items-stretch">
                    <div class="align-self-center">
                        <img src="/lib/images/products/@Model.ImageUrl" style="max-height:100px;max-width:145px">
                    </div>
                    <div class="flex-fill justify-content-center flex-column d-flex ms-3">
                        <div>
                            <span class="fw-bold">@Model.ProductName</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-muted small">
                Your Prize Will Be Attached To The Next Purchase
            </span>
        } else
            {
                <span>Service is Not Available at This Time</span>
            }
        <button class="btn btn-dark" onclick="renderModelRewardPartial()">I Understand</button>
    </div>