
@* NYD NEED TO USE AJAX TO LOAD CATEGORIES INTO THE SEARCH BAR AS SUGGESTION *@
<div class="input-group my-3 my-md-0">
    <input type="text" class="form-control" style="border-top-left-radius:12.5rem;border-bottom-left-radius:12.5rem" placeholder="Search Product" aria-label="Search" aria-describedby="basic-addon2">

    @* NYD Update the Categories based on clicked option *@
    <button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">All Products</button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">All Products</a></li>
        <li><a class="dropdown-item" href="#">Recipes</a></li>
        <li><a class="dropdown-item" href="#">Groceries</a></li>
        <li><a class="dropdown-item" href="#">Home & Living</a></li>
    </ul>
    <span class="" id="basic-addon2">
        <button class="btn btn-success border-0" style="border-top-right-radius:12.5rem;border-bottom-right-radius:12.5rem" type="button">
            <svg class="bi text-white" width="16" height="24">
                <use xlink:href="./lib/images/bootstrap-icons-1.4.0/bootstrap-icons.svg#search" />
            </svg>
        </button>
    </span>
</div>