@model HomeSquareApp.Models.ProductServingType

@{
    ViewData["Title"] = "Create Product Serving Type";
    ViewData["NavData"] = "ProductServingType";
    Layout = "_AdminLayout";
}

<h2>Add Product Serving Type</h2>
<hr />
<div class="pb-5">
    <div class="col-md-5">
        <form asp-action="Create" class="row gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex">
                <label asp-for="ServingType" class="col-md-5"></label>
                <input asp-for="ServingType" class="col-md-7 form-control flex-fill" />
            </div>
            <span asp-validation-for="ServingType" class="text-danger"></span>
            <div class="form-group">
                <input id="submitFormBtn" type="submit" value="Create" class="btn btn-default" hidden />
            </div>
        </form>
    </div>
</div>

<div class="border-top pt-2">
    <div class="d-flex align-items-center col-md-5">
        <a asp-action="Index" class="me-auto text-decoration-none">
            Back to Product Serving Type List
        </a>
        <input type="button" onclick="submitForm()" value="Create" class="rounded-0 btn btn-outline-dark border-secondary" />
    </div>
</div>

@section Scripts {
    <script>
        function submitForm() {
            document.getElementById("submitFormBtn").click();
        }
    </script>
} 