@model HomeSquareApp.Models.ProductServingType

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h2>Details</h2>

<div>
    <h4>ProductServingType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductServingTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
