@model IEnumerable<HomeSquareApp.Models.ProductServingType>

@{
    ViewData["Title"] = "Index";
    ViewData["NavData"] = "Product";
    ViewData["CurrentPage"] = "Serving Types";
    Layout = "_AdminLayout";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServingType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServingType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductServingTypeID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
