@{
    ViewData["Title"] = "Contact Us";
}


@section pageSpecificCss{
    <link rel="stylesheet" href="~/lib/css/contactUs.css" />
}

<div class="contact-form d-flex align-items-center justify-content-center bg-white flex-column mb-3 center-vh">
    <h1 class="mb-4 pt-4">Contact Us</h1>
    <div class="w-md-75">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="group">
                        <label for="contactNameInput" class="text-label">Your Name</label>
                        <input id="contactNameInput" type="text" class="input bg-light rounded-pill form-control" required>
                        <span class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="group">
                        <label for="contactEmailInput" class="text-label">Email</label>
                        <input id="contactEmailInput" type="email" class="input bg-light rounded-pill form-control" required>
                        <span class="text-danger form-text"></span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="group">
                        <label for="contactPhoneInput" class="text-label">Phone</label>
                        <input id="contactPhoneInput" type="tel" class="input bg-light rounded-pill form-control" required>
                        <span class="text-danger form-text"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="group">
                        <label for="textAreaMessage" class="text-label">Message</label>
                        <textarea class="form-control" style="background-color: #f6f6f6" id="textAreaMessage" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class=" d-flex justify-content-center">
                <div class="group col-md-4">
                    <button class="btn btn-primary form-control text-white rounded-pill">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>