@model HomeSquareApp.ViewModels.AdminProductCreateViewModel

@{
    ViewData["Title"] = "Create New Product";
    Layout = "_AdminLayout";
    ViewData["NavData"] = "Product";
}

<h2>Add New Product</h2>
<hr />
<div class="pb-5">
    <div class="col-md-5">
        <form enctype="multipart/form-data" asp-action="Create" class="row gap-2 pb-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-md-flex">
                <label asp-for="ProductName" class="col-md-5"></label>
                <input asp-for="ProductName" class="col-md-7 form-control" />
            </div>
            <span asp-validation-for="ProductName" class="text-danger"></span>

            <div class="d-flex justify-content-end">
                <div class="card col-md-6 p-3">
                    <img id="imagePhotoPreview" src="/lib/images/products/productPlaceholder.png" class="img-fluid" style="object-fit: cover;" asp-append-version="true">
                </div>
            </div>

            <div class="d-md-flex">
                <label asp-for="Image" class="col-md-5"></label>
                <div class="custom-file">
                    <input id="imageInput" asp-for="Image" class="col-md-7 form-control custom-file-input" />
                </div>
            </div>

            <span asp-validation-for="Image" class="text-danger"></span>

            <div class="d-md-flex">
                <label asp-for="ProductPrice" class="col-md-5"></label>
                <input asp-for="ProductPrice" placeholder="0" class="col-md-7 form-control" />
            </div>
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
            <div class="d-md-flex">
                <label asp-for="ProductStock" class="col-md-5"></label>
                <input asp-for="ProductStock" placeholder="0" class="col-md-7 form-control" />
            </div>
            <span asp-validation-for="ProductStock" class="text-danger"></span>
            <div class="d-md-flex">
                <label asp-for="ProductDiscount" class="col-md-5"></label>
                <input asp-for="ProductDiscount" placeholder="0.0" class="col-md-7 form-control" />
            </div>
            <span asp-validation-for="ProductDiscount" class="text-danger"></span>

            <div class="d-md-flex">
                <label asp-for="Description" class="col-md-5"></label>
                <textarea asp-for="Description" onkeyup="textAreaAdjust(this)" class="col-md-7 form-control"
                          placeholder="Brief description of the product" style="height: 100px"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
            <div class="d-md-flex">
                <label asp-for="ProductInformation" class="col-md-5"></label>
                <textarea asp-for="ProductInformation" onkeyup="textAreaAdjust(this)" class="col-md-7 form-control"
                          placeholder="E.g Contains gluten, Ingredients: sunflower oil, potatoes" style="height: 100px"></textarea>
            </div>
            <span asp-validation-for="ProductInformation" class="text-danger"></span>

            <div class="d-md-flex">
                <div class="col-md-5 d-flex align-items-center">
                    <label asp-for="ProductServingContent"></label>
                </div>
                <div class="d-flex flex-fill">
                    <input asp-for="ProductServingContent" class="form-control" />
                    <select id="ProductServingTypeDropdown" asp-for="ProductServingTypeID" class="form-control flex-fill" asp-items="ViewBag.ProductServingTypeID"></select>
                    <a class="refreshLink" style="cursor:pointer" onclick="refreshProductServingTypeDropdown()">
                        <i id="syncIconProductServingType" class="fas fa-sync ms-2 d-flex align-items-center" style="font-size: 1em;width:1rem"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-fill justify-content-end me-4">
                <a asp-action="Create" asp-controller="AdminProductServingTypes" target="_blank" class="text-primary small text-end">
                    Create New Serving Type
                </a>
            </div>
            <span asp-validation-for="ProductServingContent" class="text-danger"></span>

            <div class="d-md-flex">
                <div class="col-md-5 d-flex align-items-center">
                    <label asp-for="ProductStatusID"></label>
                </div>
                <div class="d-flex flex-fill">
                    <select id="ProductStatusDropdown" asp-for="ProductStatusID" class="form-control flex-fill" asp-items="ViewBag.ProductStatusID"></select>
                    <a class="refreshLink" style="cursor:pointer" onclick="refreshProductStatusDropdown()">
                        <i id="syncIconProductStatus" class="fas fa-sync ms-2 d-flex align-items-center" style="font-size: 1em;width:1rem"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-fill justify-content-end me-4">
                <a asp-action="Create" asp-controller="AdminProductStatus" target="_blank" class="text-primary small">
                    Create New Product Status
                </a>
            </div>
            <div class="d-md-flex">
                <div class="col-md-5 d-flex align-items-center">
                    <label asp-for="CategoryID"></label>
                </div>
                <div class="d-flex flex-fill">
                    <select id="ProductCategoryDropdown" asp-for="CategoryID" class="form-control flex-fill" asp-items="ViewBag.CategoryID"></select>
                    <a class="refreshLink" style="cursor:pointer" onclick="refreshProductCategoryDropdown()">
                        <i id="syncIconProductCategory" class="fas fa-sync ms-2 d-flex align-items-center" style="font-size: 1em;width:1rem"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-fill justify-content-end me-4">
                <a asp-action="Create" asp-controller="AdminProductCategories" target="_blank" class="text-primary small">
                    Create New Category
                </a>
            </div>
            <input id="submitFormBtn" type="submit" value="Submit Form" hidden />
        </form>
    </div>

    <div class="border-top pt-2">
        <div class="d-flex align-items-center col-md-5">
            <a asp-action="Index" class="me-auto text-decoration-none">
                Back to Products List
            </a>
            <input type="button" onclick="submitForm()" value="Create" class="rounded-0 btn btn-outline-dark border-secondary" />
        </div>
    </div>
</div>



@section Scripts {
    <script>
        function refreshProductServingTypeDropdown() {
            $.ajax({
                method: "GET",
                url: "GetProductServingType",
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("syncIconProductServingType").style.animation = "spin 4s linear";
                },
                success: function (data) {
                    var s;
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].productServingTypeID + '">' + data[i].servingType + '</option>';
                    }
                    $("#ProductServingTypeDropdown").html(s);
                }
            })
        }

        function refreshProductStatusDropdown() {
            $.ajax({
                method: "GET",
                url: "GetProductStatus",
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("syncIconProductStatus").style.animation = "spin 4s linear";
                },
                success: function (data) {
                    var s;
                    console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].productStatusID + '">' + data[i].productStatusName + '</option>';
                    }
                    $("#ProductStatusDropdown").html(s);
                }
            })
        }

        function refreshProductCategoryDropdown() {
            $.ajax({
                method: "GET",
                url: "GetProductCategory",
                dataType: "json",
                beforeSend: function () {
                    
                    document.getElementById("syncIconProductCategory").style.animation = "spin 4s linear";
                },
                success: function (data) {
                    var s;
                    console.log(data)
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].categoryID + '">' + data[i].categoryName + '</option>';
                    }
                    $("#ProductCategoryDropdown").html(s);
                }
            })
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagePhotoPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); 
            }
        }

        $("#imageInput").change(function () {
            readURL(this);
        });

        function submitForm() {
            document.getElementById("submitFormBtn").click();
        }

        function textAreaAdjust(element) {
            element.style.height = "1px";
            element.style.height = (25 + element.scrollHeight) + "px";
        }
    </script>
} 
