@model HomeSquareApp.ViewModels.RecipeCreateViewModel

@{
    ViewData["Title"] = "Create Recipe";
    Layout = "_AdminLayout";
    ViewData["NavData"] = "Recipe";
    ViewData["CurrentPage"] = "Main";
}

@section pageSpecificCss{
    <link rel="stylesheet" href="~/lib/css/recipeDetails.css" />
    <style>
        .form-control {
            border-radius: 0;
            background: #FDFDFD;
        }

            .form-control:focus {
                border-color: black;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
                outline: 0 none;
            }


        .recipe-title {
            font-family: Bahnschrift;
        }

        label {
            font-size: 14px;
            color: #808080;
        }

        select {
            font-size: 14px !important;
            color: #808080 !important;
        }

            select option {
                font-size: 14px;
                color: #808080;
            }

        /*Autocomplete*/

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                .autocomplete-items div:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9;
                }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

    </style>
}

<h2>Create New Recipe</h2>
<hr />
<div id="app">
    <form asp-controller="AdminRecipes" asp-action="Create" method="post" enctype="multipart/form-data" autocomplete="off">
        
        <partial name="_RecipeFormTemplatePartial" model="Model"/>

       
        <div class="border-top py-2">
            <div class="d-flex align-items-center">
                <a asp-action="Index" class="me-auto text-decoration-none">
                    Back to Products List
                </a>
                <input type="submit" value="Create Recipe" class="rounded-0 btn btn-success border-secondary me-4" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/lib/js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                searchCategories: "Products",

                productOrderSubmitBtn: null,
                cartItemCount: 0,
            },
            methods: {
                updateSearchCategories: function (event) {
                    this.searchCategories = event.target.value;
                },
                triggerSearchQuery: function (el) {
                    if (el.value.length < 2 || this.searchCategories == "") {
                        return;
                    }

                    $.ajax(
                        {
                            type: "POST", //HTTP POST Method
                            url: "/Home/GetQuery", // Controller/View
                            data: {
                                searchString: el.value,
                                searchCategories: app.searchCategories,
                            }
                        }).done(function (data) {

                            var a, b, i, val = el.value;
                            /*close any already open lists of autocompleted values*/
                            app.closeAllLists();

                            a = document.createElement("DIV");
                            a.setAttribute("id", this.id + "autocomplete-list");
                            a.setAttribute("class", "autocomplete-items");

                            el.parentNode.appendChild(a);

                            for (i = 0; i < data.length; i++) {
                                b = document.createElement("DIV");
                                b.innerHTML = data[i]
                                b.innerHTML += "<input type='hidden' value='" + data[i] + "'>";
                                b.addEventListener("click", function (e) {
                                    /*insert the value for the autocomplete text field:*/
                                    el.value = this.getElementsByTagName("input")[0].value;
                                    //app.searchString = el.value;
                                    /*close the list of autocompleted values,
                                    (or any other open lists of autocompleted values:*/
                                    app.closeAllLists();
                                });
                                a.appendChild(b);
                            }
                        });
                },
                closeAllLists: function (elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i]) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                },
            },
        })
    </script>
    <script>
        var nextIngredientId = @Model.Ingredients.Count();
        var nextInstructionId =  @Model.RecipeSteps.Count();
        var recipeImage = document.getElementById("recipeImage")

    </script>

    <script src="~/lib/js/RecipeDynamicListStepsIngredient.js">
    </script>
}