@model LogInViewModel

<form asp-controller="Account" asp-action="Login"
      method="post" data-ajax="true" data-ajax-loading="#modalLoader" data-ajax-complete="loginReturned"
      data-ajax-method="post" data-ajax-url="/Account/Login" id="loginForm">
    @* Information of register being successful sent from the signup panel *@
    <div style="background-color: #ffcccb">
        <p id="signupConfirmationPrompt" class="p-3 form-text d-none">
            @* Change the email based on the user entered email *@

            @*Did not receive any email? <a href="#" class="text-decoration-underline">Resend link</a>*@
        </p>
    </div>

    <div class="group">
        <label asp-for="Email" for="emailLogIn" class="label">Email</label>
        <input asp-for="Email" id="emailLogIn" type="email" class="input" required>
        <span asp-validation-for="Email" id="emailLogInPrompt" class="text-danger form-text"></span>
    </div>
    <div class="group">
        <label asp-for="Password" for="passLogIn" class="label">Password</label>
        <input asp-for="Password" id="passLogIn" type="password" class="input" data-type="password" autocomplete="new-password" required>
        <span asp-validation-for="Password" id="passwordLogInPrompt" class="text-danger form-text"></span>
    </div>
    <div>
        <span class="text-label">Don't have an account? <a href="#" onclick="openSignUp()" class="fw-bold text-primary">Sign up</a></span>
    </div>
    <div class="group mt-2">
        <input asp-for="RememberMe" id="checkRememberMe" type="checkbox" class="form-check-input" checked>
        <label asp-for="RememberMe" for="checkRememberMe" class="text-label">Keep me Signed in</label>
    </div>
    <div id="errorLogInSummary" class="shortAnimation text-danger my-3 form-text"></div>
    <div class="group">
        @* NYD VALIDATE USER, THEN REDIRECT TO The current page *@
        <button type="submit" onclick="clearSummary()" class="btn btn-primary form-control rounded-pill"> Sign In</button>
    </div>
</form>
<div class="foot-lnk">
    <a onclick="togglePanel()" id="switchForgotPasswordBtn">Forgot Password?</a>
</div>

<script>
    var loginSummaryElement = document.getElementById("errorLogInSummary");


    function clearSummary() {
        //CLEAR PREVIOUS ERROR SUMMARY
        loginSummaryElement.innerHTML = "";
    }

    function loginReturned(data) {
        if (data.responseJSON.isSuccess) {
            if (location.pathname == "/Account/ConfirmEmail") {
                window.location.href = "/";
            } else {
                window.location.reload();
            }
        } else {
            var list = document.createElement('span');
            for (var i = 0; i < data.responseJSON.message.length; i++) {
                // Add it to the list:
                list.appendChild(document.createTextNode(data.responseJSON.message[i]));
            }
            //REPOPULATE THE SUMMARY With list above
            loginSummaryElement.appendChild(list);
        }
    }
</script>