@model HomeSquareApp.ViewModels.RecipeCreateViewModel

@{
    ViewData["Title"] = "Create Recipe";
    Layout = "_MainLayout";
}

@section pageSpecificCss{

    <environment include="Development">
        @* Custom Page Specific Css *@
        <link rel="stylesheet" href="~/lib/css/recipeDetails.css" />
    </environment>
    <environment exclude="Development">
        @* Custom Page Specific Css  *@
        <link rel="stylesheet" href="~/lib/css/recipeDetails.min.css" />
    </environment>

    <link rel="stylesheet" href="~/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.css" />

    <style>
        .form-control {
            border-radius: 0;
            background: #FDFDFD;
        }

            .form-control:focus {
                border-color: black;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
                outline: 0 none;
            }


        .recipe-title {
            font-family: Bahnschrift;
        }

        label {
            font-size: 14px;
            color: #808080;
        }

        select {
            font-size: 14px !important;
            color: #808080 !important;
        }

            select option {
                font-size: 14px;
                color: #808080;
            }
    </style>
}
<div class="p-5">
    <h2>Create New Recipe</h2>
    <hr />
    <form asp-controller="Recipe" asp-action="Create" method="post" enctype="multipart/form-data" autocomplete="off">
        <partial name="_RecipeFormTemplatePartial" model="Model" />

        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-success col-md-6 col-10">Create Recipe</button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        var nextIngredientId = @Model.Ingredients.Count();
        var nextInstructionId =  @Model.RecipeSteps.Count();
        var recipeImage = document.getElementById("recipeImage")


    </script>
    <script src="~/lib/js/RecipeDynamicListStepsIngredient.js">
    </script>
}