@model int
@*NYD Replace title later with strongly typed data*@
@{
    ViewData["Title"] = @Model + "Recipe Details";
}

@section pageSpecificCss{
    <link rel="stylesheet" href="~/lib/css/recipeDetails.css" />
    <link rel="stylesheet" href="~/lib/images/bootstrap-icons-1.4.0/bootstrap-icons.css" />
}

<div class="bg-light pb-5">
    <div class="container pt-5">
        <div class="card d-flex flex-md-row">
            <section class="order-md-0 order-1 col-md-6">
                <div class="m-5">
                    <small class="text-muted">Lunch | Dinner</small>
                    <h1 class="fw-bold">Recipe title can be quite long for this one</h1>
                    <div class="d-flex">

                    </div>
                    <p>
                        Lorem Ipsum is rambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="d-flex mx-5 mb-5">
                    <div class="d-flex flex-column col align-items-center">
                        <div class="d-flex fw-bold">
                            <i class="bi bi-clock"></i>
                            <div class="ms-2">
                                Prep Time
                            </div>
                        </div>
                        <div>
                            <span class="display-5">10</span> Min
                        </div>
                    </div>
                    <div class="bg-secondary" style="width:2px">
                    </div>
                    <div class="d-flex flex-column col align-items-center">
                        <div class="d-flex fw-bold">
                            <i class="bi bi-egg-fried"></i>
                            <div class="ms-2">
                                Servings
                            </div>
                        </div>
                        <div>
                            <span class="display-5">2</span>
                        </div>
                    </div>
                </div>
            </section>
            <section class="img-sm-fixed-height order-md-1 order-0 col-md-6 bg-light d-flex align-items-stretch">
                @* Play around with object-fit to get wanted result *@
                @* either contain or cover would be good *@
                <img class="w-100" src="~/lib/images/recipes/waffle.jpg" style="object-fit:contain;" asp-append-version="true"/>
            </section>
        </div>
    </div>

    <div class="container mt-4 d-flex justify-content-center">
        <div class="d-flex flex-row btn" onclick="alert('You clicked me !')">
            <div class="card display-5 p-3">
                100 Likes
            </div>
            <button class="btn btn-lg btn-success rounded-0 rounded-end">
                <i class="bi bi-hand-thumbs-up"></i>
            </button>
        </div>
    </div>

</div>



<div class="container my-5 d-md-flex">
    <div class="card rounded-3 col-md-5 pt-5">
        <h2 class="px-5">Ingredients</h2>
        <div class="px-5">
            @*NYD Loop This Ingredients *@
            @for (int i = 0; i < 6; i++)
            {
                <div class="border-bottom border-muted py-3">
                    100 tbs tea
                </div>
            }
        </div>
        <button class="btn btn-success mt-3 rounded-0 rounded-bottom">Get All Items</button>
    </div>

    <div class="container rounded-3 col-md-6 offset-md-1 mt-5 mt-md-0">
        <h2>Steps</h2>
        @*NYD Loop this steps *@
        <div class="d-flex flex-column gap-2">
            @for (int i = 0; i < 4; i++)
            {
                <div class="card pt-5 pb-4 px-4">
                    <div class="position-absolute start-0 top-0 mx-4 mt-3">
                        <small class="fw-bold">Step @(i+1)</small>
                    </div>
                    <div>
                        Boil water on the pan
                    </div>
                </div>
            }
        </div>
    </div>
</div>

