@model ResetPasswordViewModel


@section pageSpecificCss{
    <link rel="stylesheet" href="~/lib/css/resetPassword.css" />
}

<div class=" d-flex align-items-center justify-content-center bg-white flex-column mb-3 center-vh">
    <div class="card p-5">
        <h1 class="mb-4 pt-4">Reset Password</h1>
        <form asp-controller="Account" asp-action="ResetPassword" class="reset-form">
            
            @*<div class="group">
                <label asp-for="Password" for="passwordReset" class="label mb-2">New Password</label>
                <input asp-for="Password" id="passwordReset" type="password" class="input " data-type="password" autocomplete="new-password" required>

                <small id="passwordResetValidPrompt" class="small text-muted">
                    Password should contain atleast 8 characters, 1 alphanumeric character and 1 symbol
                </small>
            </div>*@
            <div class="group">
                <button type="submit" class="button btn btn-success form-control">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>